extends layout

block js
  - if (!!meme)
    script
      $(function() {
        var $a   = $("[data-id=#{meme.id}] a")
          , $img = $a.find('img')

        $.fancybox({ href: $img.attr('src') })
      })

block content
  .memes.index
    ul.memes
      each meme in memes
        li.meme(data-id=meme.id)
          a(href="/memes/" + meme.id)
            img(src=meme.image_url, style="visibility: visible;")
