body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: SquareFlo;
  font-size: 50px;
}
a {
  color: #00b7ff;
}
@font-face {
  font-family: SquareFlo;
  src: url("/fonts/SquareFlo.otf") format("opentype");
}
ul.memes {
  list-style-type: none;
  position: relative;
  display: block;
}
ul.memes,
ul.memes li.meme {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
ul.memes li.meme {
  display: list-item;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px 0px;
  cursor: pointer;
  border: 10px solid #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
ul.memes li.meme a {
  display: block;
  outline: none;
}
ul.memes li.meme a .tp-info {
  position: absolute;
  background: #fff;
  line-height: 20px;
  color: #333;
  top: 40%;
  width: 75%;
  padding: 10px;
  font-weight: 700;
  text-align: right;
  left: -100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 5px 0 5px -3px rgba(0,0,0,0.4), inset 0 0 5px rgba(0,0,0,0.04);
}
ul.memes li.meme a img {
  width: 200px;
  height: 150px;
  display: block;
}
